In [1]:
import requests
import json
import pandas as pd

In [2]:
health_data_path= "Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System (version 1).csv"
health_data = pd.read_csv(health_data_path)
health_data.head()

,"eek, an",YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AK,Alaska,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,VALUE,2,Income,"$15,000 - $24,999",INC,INC1525
1,2011,2011,AK,Alaska,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,VALUE,2,Age (years),35 - 44,AGEYR,AGEYR3544
2,2011,2011,AK,Alaska,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,VALUE,2,Income,"Less than $15,000",INC,INCLESS15
3,2011,2011,AK,Alaska,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,VALUE,2,Income,"$35,000 - $49,999",INC,INC3550
4,2011,2011,AK,Alaska,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,VALUE,2,Race/Ethnicity,Hispanic,RACE,RACEHIS

In [68]:
clean_health_data = pd.DataFrame(health_data[["YearEnd","LocationDesc","Question","Data_Value"]])
clean_health_data = clean_health_data.loc[clean_health_data.YearEnd == 2017].rename(columns={"LocationDesc": "state", "YearEnd": "year", "Data_Value":"Percent"}).dropna()
clean_health_data.head()

      year   state                                           Question  Percent
8961  2017  Alaska  Percent of adults aged 18 years and older who ...     34.3
8962  2017  Alaska  Percent of adults aged 18 years and older who ...     27.5
8963  2017  Alaska  Percent of adults aged 18 years and older who ...     31.4
8965  2017  Alaska  Percent of adults aged 18 years and older who ...     29.8
8966  2017  Alaska  Percent of adults aged 18 years and older who ...     26.1

In [69]:
grp_clean_health_data = clean_health_data.groupby(["Question", "state"]).agg({"Percent": ["mean", "median", "var", "std", "sem"]})
grp_clean_health_data

                                                                    Percent  \
                                                                       mean
Question                                           state
Percent of adults aged 18 years and older who h... Alabama        33.792000
                                                   Alaska         31.858333
                                                   Arizona        34.707407
                                                   Arkansas       36.272000
                                                   California     35.670370
...                                                                     ...
Percent of adults who report consuming vegetabl... Virginia       17.003846
                                                   Washington     18.748148
                                                   West Virginia  18.804348
                                                   Wisconsin      20.469231
                                                   Wyoming        16.745833

                                                                         \
                                                                 median
Question                                           state
Percent of adults aged 18 years and older who h... Alabama        33.30
                                                   Alaska         32.15
                                                   Arizona        35.30
                                                   Arkansas       36.20
                                                   California     36.70
...                                                                 ...
Percent of adults who report consuming vegetabl... Virginia       15.75
                                                   Washington     16.70
                                                   West Virginia  19.70
                                                   Wisconsin      19.45
                                                   Wyoming        14.85

                                                                             \
                                                                        var
Question                                           state
Percent of adults aged 18 years and older who h... Alabama        13.667433
                                                   Alaska         12.642536
                                                   Arizona        12.994558
                                                   Arkansas       31.933767
                                                   California     18.642165
...                                                                     ...
Percent of adults who report consuming vegetabl... Virginia       31.140385
                                                   Washington     40.192593
                                                   West Virginia  25.374980
                                                   Wisconsin      24.936615
                                                   Wyoming        23.454764

                                                                            \
                                                                       std
Question                                           state
Percent of adults aged 18 years and older who h... Alabama        3.696949
                                                   Alaska         3.555634
                                                   Arizona        3.604797
                                                   Arkansas       5.650997
                                                   California     4.317657
...                                                                    ...
Percent of adults who report consuming vegetabl... Virginia       5.580357
                                                   Washington     6.339763
                                                   West Virginia  5.037358
                                                   Wisconsin      4.993658
                                                   Wyoming        4.843012


                                                                       sem
Question                                           state
Percent of adults aged 18 years and older who h... Alabama        0.739390
                                                   Alaska         0.725791
                                                   Arizona        0.693743
                                                   Arkansas       1.130199
                                                   California     0.830934
...                                                                    ...
Percent of adults who report consuming vegetabl... Virginia       1.094398
                                                   Washington     1.220088
                                                   West Virginia  1.050362
                                                   Wisconsin      0.979337
                                                   Wyoming        0.988576

[486 rows x 5 columns]

In [6]:
url = "https://aqs.epa.gov/data/api/annualData/byState?email=lilu216@hotmail.com&key=baygoose48&param=42602&bdate=20170101&edate=20171231&state=37"

In [7]:
response = requests.get(url)
response_json = response.json()
print(json.dumps(response_json, indent=4, sort_keys=True))

{
    "Data": [
        {
            "arithmetic_mean": 6.916182,
            "cbsa": "Charlotte-Concord-Gastonia, NC-SC",
            "cbsa_code": "16740",
            "certification_indicator": "Certified",
            "city": "Charlotte",
            "county": "Mecklenburg",
            "county_code": "119",
            "date_of_last_change": "2019-03-05",
            "datum": "WGS84",
            "event_type": "No Events",
            "exceptional_data_count": 0,
            "fiftieth_percentile": 4.4,
            "first_max_datetime": "2017-02-14 21:00",
            "first_max_n_o_datetime": null,
            "first_max_nonoverlap_value": null,
            "first_max_value": 45.7,
            "fourth_max_datetime": "2017-11-29 19:00",
            "fourth_max_value": 43.3,
            "latitude": 35.2401,
            "local_site_name": "Garinger High School",
            "longitude": -80.785683,
            "method": "INSTRUMENTAL - CHEMILUMINESCENCE",
            "metric_used": "Observed values",
            "ninetieth_percentile": 15.9,
            "ninety_eighth_percentile": 27.7,
            "ninety_fifth_percentile": 21.0,
            "ninety_ninth_percentile": 31.6,
            "null_observation_count": 782,
            "observation_count": 7978,
            "observation_percent": 91.0,
            "parameter": "Nitrogen dioxide (NO2)",
            "parameter_code": "42602",
            "poc": 1,
            "pollutant_standard": "NO2 Annual 1971",
            "primary_exceedance_count": null,
            "required_day_count": 365,
            "sample_duration": "1 HOUR",
            "second_max_datetime": "2017-02-14 22:00",
            "second_max_n_o_datetime": null,
            "second_max_nonoverlap_value": null,
            "second_max_value": 44.8,
            "secondary_exceedance_count": null,
            "seventy_fifth_percentile": 8.5,
            "site_address": "1130 EASTWAY DRIVE",
            "site_number": "0041",
            "standard_deviation": 6.509473,
            "state": "North Carolina",
            "state_code": "37",
            "tenth_percentile": 1.9,
            "third_max_datetime": "2017-03-16 22:00",
            "third_max_value": 43.6,
            "units_of_measure": "Parts per billion",
            "valid_day_count": 338,
            "validity_indicator": "Y",
            "year": 2017
        },
        {
            "arithmetic_mean": 16.15,
            "cbsa": "Charlotte-Concord-Gastonia, NC-SC",
            "cbsa_code": "16740",
            "certification_indicator": "Certified",
            "city": "Charlotte",
            "county": "Mecklenburg",
            "county_code": "119",
            "date_of_last_change": "2019-03-05",
            "datum": "WGS84",
            "event_type": "No Events",
            "exceptional_data_count": 0,
            "fiftieth_percentile": 14.2,
            "first_max_datetime": "2017-02-14 21:00",
            "first_max_n_o_datetime": null,
            "first_max_nonoverlap_value": null,
            "first_max_value": 45.7,
            "fourth_max_datetime": "2017-11-28 19:00",
            "fourth_max_value": 40.0,
            "latitude": 35.2401,
            "local_site_name": "Garinger High School",
            "longitude": -80.785683,
            "method": "INSTRUMENTAL - CHEMILUMINESCENCE",
            "metric_used": "Daily Maximum 1-hour average",
            "ninetieth_percentile": 31.4,
            "ninety_eighth_percentile": 39.4,
            "ninety_fifth_percentile": 34.0,
            "ninety_ninth_percentile": 42.7,
            "null_observation_count": 782,
            "observation_count": 7978,
            "observation_percent": 91.0,
            "parameter": "Nitrogen dioxide (NO2)",
            "parameter_code": "42602",
            "poc": 1,
            "pollutant_standard": "NO2 1-hour",
            "primary_exceedance_count": 0,
            "required_day_count": 365,
            "sample_duration": "1 HOUR",
            "second_max_datetime": "2017-03-16 22:00",
            "second_max_n_o_datetime": null,
            "second_max_nonoverlap_value": null,
            "second_max_value": 43.6,
            "secondary_exceedance_count": null,
            "seventy_fifth_percentile": 22.9,
            "site_address": "1130 EASTWAY DRIVE",
            "site_number": "0041",
            "standard_deviation": 9.497981,
            "state": "North Carolina",
            "state_code": "37",
            "tenth_percentile": 5.9,
            "third_max_datetime": "2017-03-08 21:00",
            "third_max_value": 41.5,
            "units_of_measure": "Parts per billion",
            "valid_day_count": 338,
            "validity_indicator": "Y",
            "year": 2017
        },
        {
            "arithmetic_mean": 10.702633,
            "cbsa": "Charlotte-Concord-Gastonia, NC-SC",
            "cbsa_code": "16740",
            "certification_indicator": "Certified",
            "city": "Charlotte",
            "county": "Mecklenburg",
            "county_code": "119",
            "date_of_last_change": "2018-01-12",
            "datum": "WGS84",
            "event_type": "No Events",
            "exceptional_data_count": 0,
            "fiftieth_percentile": 9.0,
            "first_max_datetime": "2017-11-30 09:00",
            "first_max_n_o_datetime": null,
            "first_max_nonoverlap_value": null,
            "first_max_value": 45.4,
            "fourth_max_datetime": "2017-11-29 17:00",
            "fourth_max_value": 41.2,
            "latitude": 35.213171,
            "local_site_name": "Remount",
            "longitude": -80.874084,
            "method": "Teledyne-API Model 200EUP or T200UP - Photolytic-Chemiluminescence",
            "metric_used": "Observed values",
            "ninetieth_percentile": 21.7,
            "ninety_eighth_percentile": 30.6,
            "ninety_fifth_percentile": 26.3,
            "ninety_ninth_percentile": 33.3,
            "null_observation_count": 936,
            "observation_count": 7824,
            "observation_percent": 89.0,
            "parameter": "Nitrogen dioxide (NO2)",
            "parameter_code": "42602",
            "poc": 1,
            "pollutant_standard": "NO2 Annual 1971",
            "primary_exceedance_count": null,
            "required_day_count": 365,
            "sample_duration": "1 HOUR",
            "second_max_datetime": "2017-02-27 20:00",
            "second_max_n_o_datetime": null,
            "second_max_nonoverlap_value": null,
            "second_max_value": 42.8,
            "secondary_exceedance_count": null,
            "seventy_fifth_percentile": 14.7,
            "site_address": "1030 Remount Road",
            "site_number": "0045",
            "standard_deviation": 7.582555,
            "state": "North Carolina",
            "state_code": "37",
            "tenth_percentile": 2.6,
            "third_max_datetime": "2017-11-29 18:00",
            "third_max_value": 41.6,
            "units_of_measure": "Parts per billion",
            "valid_day_count": 331,
            "validity_indicator": "Y",
            "year": 2017
        },
        {
            "arithmetic_mean": 21.699698,
            "cbsa": "Charlotte-Concord-Gastonia, NC-SC",
            "cbsa_code": "16740",
            "certification_indicator": "Certified",
            "city": "Charlotte",
            "county": "Mecklenburg",
            "county_code": "119",
            "date_of_last_change": "2018-01-12",
            "datum": "WGS84",
            "event_type": "No Events",
            "exceptional_data_count": 0,
            "fiftieth_percentile": 20.6,
            "first_max_datetime": "2017-11-30 09:00",
            "first_max_n_o_datetime": null,
            "first_max_nonoverlap_value": null,
            "first_max_value": 45.4,
            "fourth_max_datetime": "2017-10-20 19:00",
            "fourth_max_value": 41.1,
            "latitude": 35.213171,
            "local_site_name": "Remount",
            "longitude": -80.874084,
            "method": "Teledyne-API Model 200EUP or T200UP - Photolytic-Chemiluminescence",
            "metric_used": "Daily Maximum 1-hour average",
            "ninetieth_percentile": 33.0,
            "ninety_eighth_percentile": 39.8,
            "ninety_fifth_percentile": 36.1,
            "ninety_ninth_percentile": 41.1,
            "null_observation_count": 936,
            "observation_count": 7824,
            "observation_percent": 89.0,
            "parameter": "Nitrogen dioxide (NO2)",
            "parameter_code": "42602",
            "poc": 1,
            "pollutant_standard": "NO2 1-hour",
            "primary_exceedance_count": 0,
            "required_day_count": 365,
            "sample_duration": "1 HOUR",
            "second_max_datetime": "2017-02-27 20:00",
            "second_max_n_o_datetime": null,
            "second_max_nonoverlap_value": null,
            "second_max_value": 42.8,
            "secondary_exceedance_count": null,
            "seventy_fifth_percentile": 27.8,
            "site_address": "1030 Remount Road",
            "site_number": "0045",
            "standard_deviation": 8.197111,
            "state": "North Carolina",
            "state_code": "37",
            "tenth_percentile": 11.8,
            "third_max_datetime": "2017-11-29 18:00",
            "third_max_value": 41.6,
            "units_of_measure": "Parts per billion",
            "valid_day_count": 331,
            "validity_indicator": "Y",
            "year": 2017
        },
        {
            "arithmetic_mean": 5.429814,
            "cbsa": "Raleigh, NC",
            "cbsa_code": "39580",
            "certification_indicator": "Certified",
            "city": "Raleigh",
            "county": "Wake",
            "county_code": "183",
            "date_of_last_change": "2019-07-03",
            "datum": "WGS84",
            "event_type": "No Events",
            "exceptional_data_count": 0,
            "fiftieth_percentile": 3.2,
            "first_max_datetime": "2017-03-08 20:00",
            "first_max_n_o_datetime": null,
            "first_max_nonoverlap_value": null,
            "first_max_value": 43.8,
            "fourth_max_datetime": "2017-04-08 21:00",
            "fourth_max_value": 41.2,
            "latitude": 35.856111,
            "local_site_name": "Millbrook School",
            "longitude": -78.574167,
            "method": "Teledyne-API Model 200EUP or T200UP - Photolytic-Chemiluminescence",
            "metric_used": "Observed values",
            "ninetieth_percentile": 13.5,
            "ninety_eighth_percentile": 25.0,
            "ninety_fifth_percentile": 18.5,
            "ninety_ninth_percentile": 29.0,
            "null_observation_count": 586,
            "observation_count": 8174,
            "observation_percent": 93.0,
            "parameter": "Nitrogen dioxide (NO2)",
            "parameter_code": "42602",
            "poc": 1,
            "pollutant_standard": "NO2 Annual 1971",
            "primary_exceedance_count": null,
            "required_day_count": 365,
            "sample_duration": "1 HOUR",
            "second_max_datetime": "2017-11-27 18:00",
            "second_max_n_o_datetime": null,
            "second_max_nonoverlap_value": null,
            "second_max_value": 41.6,
            "secondary_exceedance_count": null,
            "seventy_fifth_percentile": 6.5,
            "site_address": "3801 SPRING FOREST RD.",
            "site_number": "0014",
            "standard_deviation": 5.940386,
            "state": "North Carolina",
            "state_code": "37",
            "tenth_percentile": 1.1,
            "third_max_datetime": "2017-11-27 19:00",
            "third_max_value": 41.6,
            "units_of_measure": "Parts per billion",
            "valid_day_count": 358,
            "validity_indicator": "Y",
            "year": 2017
        },
        {
            "arithmetic_mean": 13.943296,
            "cbsa": "Raleigh, NC",
            "cbsa_code": "39580",
            "certification_indicator": "Certified",
            "city": "Raleigh",
            "county": "Wake",
            "county_code": "183",
            "date_of_last_change": "2019-07-03",
            "datum": "WGS84",
            "event_type": "No Events",
            "exceptional_data_count": 0,
            "fiftieth_percentile": 11.0,
            "first_max_datetime": "2017-03-08 20:00",
            "first_max_n_o_datetime": null,
            "first_max_nonoverlap_value": null,
            "first_max_value": 43.8,
            "fourth_max_datetime": "2017-02-16 22:00",
            "fourth_max_value": 38.3,
            "latitude": 35.856111,
            "local_site_name": "Millbrook School",
            "longitude": -78.574167,
            "method": "Teledyne-API Model 200EUP or T200UP - Photolytic-Chemiluminescence",
            "metric_used": "Daily Maximum 1-hour average",
            "ninetieth_percentile": 27.8,
            "ninety_eighth_percentile": 35.3,
            "ninety_fifth_percentile": 32.0,
            "ninety_ninth_percentile": 38.3,
            "null_observation_count": 586,
            "observation_count": 8174,
            "observation_percent": 93.0,
            "parameter": "Nitrogen dioxide (NO2)",
            "parameter_code": "42602",
            "poc": 1,
            "pollutant_standard": "NO2 1-hour",
            "primary_exceedance_count": 0,
            "required_day_count": 365,
            "sample_duration": "1 HOUR",
            "second_max_datetime": "2017-11-27 18:00",
            "second_max_n_o_datetime": null,
            "second_max_nonoverlap_value": null,
            "second_max_value": 41.6,
            "secondary_exceedance_count": null,
            "seventy_fifth_percentile": 19.9,
            "site_address": "3801 SPRING FOREST RD.",
            "site_number": "0014",
            "standard_deviation": 9.129716,
            "state": "North Carolina",
            "state_code": "37",
            "tenth_percentile": 4.2,
            "third_max_datetime": "2017-04-08 21:00",
            "third_max_value": 41.2,
            "units_of_measure": "Parts per billion",
            "valid_day_count": 358,
            "validity_indicator": "Y",
            "year": 2017
        },
        {
            "arithmetic_mean": 1.185382,
            "cbsa": "Sanford, NC",
            "cbsa_code": "41820",
            "certification_indicator": "Certified",
            "city": "Sanford",
            "county": "Lee",
            "county_code": "105",
            "date_of_last_change": "2019-06-05",
            "datum": "WGS84",
            "event_type": "No Events",
            "exceptional_data_count": 0,
            "fiftieth_percentile": 0.9,
            "first_max_datetime": "2017-09-14 19:00",
            "first_max_n_o_datetime": null,
            "first_max_nonoverlap_value": null,
            "first_max_value": 15.3,
            "fourth_max_datetime": "2017-03-23 07:00",
            "fourth_max_value": 9.1,
            "latitude": 35.4325,
            "local_site_name": "Blackstone",
            "longitude": -79.2887,
            "method": "Teledyne-API Model 200EUP or T200UP - Photolytic-Chemiluminescence",
            "metric_used": "Observed values",
            "ninetieth_percentile": 2.3,
            "ninety_eighth_percentile": 4.1,
            "ninety_fifth_percentile": 3.0,
            "ninety_ninth_percentile": 5.0,
            "null_observation_count": 640,
            "observation_count": 8120,
            "observation_percent": 93.0,
            "parameter": "Nitrogen dioxide (NO2)",
            "parameter_code": "42602",
            "poc": 1,
            "pollutant_standard": "NO2 Annual 1971",
            "primary_exceedance_count": null,
            "required_day_count": 365,
            "sample_duration": "1 HOUR",
            "second_max_datetime": "2017-11-15 17:00",
            "second_max_n_o_datetime": null,
            "second_max_nonoverlap_value": null,
            "second_max_value": 11.1,
            "secondary_exceedance_count": null,
            "seventy_fifth_percentile": 1.5,
            "site_address": "4110 Blackstone Drive",
            "site_number": "0002",
            "standard_deviation": 0.979488,
            "state": "North Carolina",
            "state_code": "37",
            "tenth_percentile": 0.3,
            "third_max_datetime": "2017-09-14 20:00",
            "third_max_value": 9.9,
            "units_of_measure": "Parts per billion",
            "valid_day_count": 356,
            "validity_indicator": "Y",
            "year": 2017
        },
        {
            "arithmetic_mean": 2.819663,
            "cbsa": "Sanford, NC",
            "cbsa_code": "41820",
            "certification_indicator": "Certified",
            "city": "Sanford",
            "county": "Lee",
            "county_code": "105",
            "date_of_last_change": "2019-06-05",
            "datum": "WGS84",
            "event_type": "No Events",
            "exceptional_data_count": 0,
            "fiftieth_percentile": 2.4,
            "first_max_datetime": "2017-09-14 19:00",
            "first_max_n_o_datetime": null,
            "first_max_nonoverlap_value": null,
            "first_max_value": 15.3,
            "fourth_max_datetime": "2017-01-05 17:00",
            "fourth_max_value": 8.4,
            "latitude": 35.4325,
            "local_site_name": "Blackstone",
            "longitude": -79.2887,
            "method": "Teledyne-API Model 200EUP or T200UP - Photolytic-Chemiluminescence",
            "metric_used": "Daily Maximum 1-hour average",
            "ninetieth_percentile": 5.0,
            "ninety_eighth_percentile": 7.3,
            "ninety_fifth_percentile": 6.1,
            "ninety_ninth_percentile": 8.4,
            "null_observation_count": 640,
            "observation_count": 8120,
            "observation_percent": 93.0,
            "parameter": "Nitrogen dioxide (NO2)",
            "parameter_code": "42602",
            "poc": 1,
            "pollutant_standard": "NO2 1-hour",
            "primary_exceedance_count": 0,
            "required_day_count": 365,
            "sample_duration": "1 HOUR",
            "second_max_datetime": "2017-11-15 17:00",
            "second_max_n_o_datetime": null,
            "second_max_nonoverlap_value": null,
            "second_max_value": 11.1,
            "secondary_exceedance_count": null,
            "seventy_fifth_percentile": 3.3,
            "site_address": "4110 Blackstone Drive",
            "site_number": "0002",
            "standard_deviation": 1.745564,
            "state": "North Carolina",
            "state_code": "37",
            "tenth_percentile": 1.3,
            "third_max_datetime": "2017-03-23 07:00",
            "third_max_value": 9.1,
            "units_of_measure": "Parts per billion",
            "valid_day_count": 356,
            "validity_indicator": "Y",
            "year": 2017
        },
        {
            "arithmetic_mean": 7.01461,
            "cbsa": "Winston-Salem, NC",
            "cbsa_code": "49180",
            "certification_indicator": "Certified",
            "city": "Winston-Salem",
            "county": "Forsyth",
            "county_code": "067",
            "date_of_last_change": "2019-04-04",
            "datum": "WGS84",
            "event_type": "No Events",
            "exceptional_data_count": 0,
            "fiftieth_percentile": 4.9,
            "first_max_datetime": "2017-11-28 19:00",
            "first_max_n_o_datetime": null,
            "first_max_nonoverlap_value": null,
            "first_max_value": 48.1,
            "fourth_max_datetime": "2017-11-30 19:00",
            "fourth_max_value": 43.7,
            "latitude": 36.110693,
            "local_site_name": "Hattie Avenue",
            "longitude": -80.226438,
            "method": "Instrumental - Chemiluminescence Teledyne API 200 EU/501",

In [54]:
state_query_url = "https://aqs.epa.gov/data/api/annualData/byState?email=lilu216@hotmail.com&key=baygoose48&param=42602&bdate=20170101&edate=20171231&state="

#need to pick the variables we want the measurements for and create a list for each to add to with a for loop.
states = []
mean = []
max_value = []
max_date =[]
# std_dev = []
# prm_exceed = []


state_code = ["01", "02", "04", "05", "06", "08", "09", "10", "11", "12", "13", "15", "16", "17", "18", "19", "20", "21", "22", 
              "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34", "35", "36", "37", "38", "39", "40", "41",
              "42", "44", "45", "46", "47", "48", "49", "50", "51", "53", "54", "55", "56", "66", "72", "78"]


for code in state_code:
    response = requests.get(state_query_url + code).json()
    try:
        states.extend([x['state'] for x in response['Data']])
        mean.extend([x['arithmetic_mean'] for x in response['Data']])
        max_value.extend([x['first_max_value'] for x in response['Data']])
        max_date.extend([x['first_max_datetime'] for x in response['Data']])
#         std_dev.extend([x['standard_deviation'] for x in response['Data']])
#         prm_exceed.extend([x['primary_exceedance_count'] for x in response['Data']])
    except: 
        print("This state has no data", code)

In [83]:
#create a data frame with info from your lists to combine into one dictionary
no2_dict = {
    "state": states,
    "average": mean,
    #"standard deviation": std_dev,
    "highest value in 2017": max_value,
    "date of highest value": max_date,
   # "primary exceedence": prm_exceed,
}

#print(no2_dict)

no_2_df = pd.DataFrame(no2_dict).round(2).rename(columns={"average":"avg NO2 (ppb)"})
no_2_df.head()

     state  avg NO2 (ppb)  highest value in 2017 date of highest value
0  Alabama           8.97                   40.8      2017-01-31 18:00
1  Alabama          20.71                   40.8      2017-01-31 18:00
2  Alabama          11.46                   50.8      2017-10-20 17:00
3  Alabama          23.39                   50.8      2017-10-20 17:00
4   Alaska          12.57                   65.7      2017-01-24 14:00

In [77]:
clean_health_data.head()

      year   state                                           Question  Percent
8961  2017  Alaska  Percent of adults aged 18 years and older who ...     34.3
8962  2017  Alaska  Percent of adults aged 18 years and older who ...     27.5
8963  2017  Alaska  Percent of adults aged 18 years and older who ...     31.4
8965  2017  Alaska  Percent of adults aged 18 years and older who ...     29.8
8966  2017  Alaska  Percent of adults aged 18 years and older who ...     26.1

In [62]:
# clean_no2_df = no_2_df.groupby(["state"])
# clean_no2_df.head()

In [82]:
merged_health_air_data = pd.merge(no_2_df, clean_health_data, on=['state'], how='outer',suffixes=('_health','_air'))
merged_health_air_data.head()

# grp_merged_health_air_data = merged_health_air_data.groupby(["Question", "state"]).agg({"Percent": ["mean", "median", "var", "std", "sem], "average":})
# grp_merged_health_air_data

,state,average,highest value in 2017,date of highest value,year,Question,Percent
0,Alabama,8.97,40.8,2017-01-31 18:00,2017.0,Percent of adults aged 18 years and older who ...,30.2
1,Alabama,8.97,40.8,2017-01-31 18:00,2017.0,Percent of adults aged 18 years and older who ...,35.5
2,Alabama,8.97,40.8,2017-01-31 18:00,2017.0,Percent of adults aged 18 years and older who ...,38.5
3,Alabama,8.97,40.8,2017-01-31 18:00,2017.0,Percent of adults aged 18 years and older who ...,33.2
4,Alabama,8.97,40.8,2017-01-31 18:00,2017.0,Percent of adults aged 18 years and older who ...,32.7