In [1]:
import json
import requests
import os
import pandas as pd


# Study data files
health_data_path= "Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System (version 1).csv"


# Read the data
read_data = pd.read_csv(health_data_path)

read_data.head()



#https://aqs.epa.gov/data/api/annualData/byState?email=lilu216@hotmail.com&key=baygoose48&param=45201&bdate=20110101&edate=20111231&state=37
# https://aqs.epa.gov/data/api/list/states?email=test@aqs.api&key=test

,"eek, an",YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AK,Alaska,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,VALUE,2,Income,"$15,000 - $24,999",INC,INC1525
1,2011,2011,AK,Alaska,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,VALUE,2,Age (years),35 - 44,AGEYR,AGEYR3544
2,2011,2011,AK,Alaska,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,VALUE,2,Income,"Less than $15,000",INC,INCLESS15
3,2011,2011,AK,Alaska,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,VALUE,2,Income,"$35,000 - $49,999",INC,INC3550
4,2011,2011,AK,Alaska,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,VALUE,2,Race/Ethnicity,Hispanic,RACE,RACEHIS

In [2]:

url = "https://aqs.epa.gov/data/api/annualData/byState?email=lilu216@hotmail.com&key=baygoose48&param=45201&bdate=20110101&edate=20111231&state=37"

url2= "https://aqs.epa.gov/data/api/list/states?email=lilu216@hotmail.com&key=baygoose48"

In [3]:
new_df = pd.DataFrame(read_data[["YearEnd","LocationDesc","Question","Data_Value"]])

new_df.head()

clean_df = new_df.loc[new_df.YearEnd == 2017]

In [4]:
final_health_data = clean_df.groupby(["Question", "LocationDesc"]).agg({"Data_Value": ["mean", "median", "var", "std", "sem"]}).reset_index()

final_health_data

                                              Question   LocationDesc  \

0    Percent of adults aged 18 years and older who ...        Alabama
1    Percent of adults aged 18 years and older who ...         Alaska
2    Percent of adults aged 18 years and older who ...        Arizona
3    Percent of adults aged 18 years and older who ...       Arkansas
4    Percent of adults aged 18 years and older who ...     California
..                                                 ...            ...
490  Percent of adults who report consuming vegetab...       Virginia
491  Percent of adults who report consuming vegetab...     Washington
492  Percent of adults who report consuming vegetab...  West Virginia
493  Percent of adults who report consuming vegetab...      Wisconsin
494  Percent of adults who report consuming vegetab...        Wyoming

    Data_Value
          mean median        var       std       sem
0    33.792000  33.30  13.667433  3.696949  0.739390
1    31.858333  32.15  12.642536  3.555634  0.725791
2    34.707407  35.30  12.994558  3.604797  0.693743
3    36.272000  36.20  31.933767  5.650997  1.130199
4    35.670370  36.70  18.642165  4.317657  0.830934
..         ...    ...        ...       ...       ...
490  17.003846  15.75  31.140385  5.580357  1.094398
491  18.748148  16.70  40.192593  6.339763  1.220088
492  18.804348  19.70  25.374980  5.037358  1.050362
493  20.469231  19.45  24.936615  4.993658  0.979337
494  16.745833  14.85  23.454764  4.843012  0.988576

[495 rows x 7 columns]

In [5]:

final_health_data = final_health_data.rename(columns={"LocationDesc": "state"})


final_health_data.head()



# state_ufo_counts_df = state_ufo_counts_df.rename(
#     columns={"state": "Sum of Sightings"})
# state_ufo_counts_df.head()

                                            Question       state Data_Value  \
                                                                       mean
0  Percent of adults aged 18 years and older who ...     Alabama  33.792000
1  Percent of adults aged 18 years and older who ...      Alaska  31.858333
2  Percent of adults aged 18 years and older who ...     Arizona  34.707407
3  Percent of adults aged 18 years and older who ...    Arkansas  36.272000
4  Percent of adults aged 18 years and older who ...  California  35.670370


  median        var       std       sem
0  33.30  13.667433  3.696949  0.739390
1  32.15  12.642536  3.555634  0.725791
2  35.30  12.994558  3.604797  0.693743
3  36.20  31.933767  5.650997  1.130199
4  36.70  18.642165  4.317657  0.830934

In [6]:
url = "https://aqs.epa.gov/data/api/qaBlanks/byState?email=test@aqs.api&key=test&param=88101&bdate=20180101&edate=20180131&state=01"
url_alabama_co = "https://aqs.epa.gov/data/api/annualData/byState?email=lilu216@hotmail.com&key=baygoose48&param=42602&bdate=20180101&edate=20181231&state=01"
response = requests.get(url_alabama_co).json()
print(json.dumps(response, indent=4, sort_keys=True))


#will need to change to the 5 parameters we agreed on. Then take averages for each state/cities.

{
    "Data": [
        {
            "arithmetic_mean": 8.185029,
            "cbsa": "Birmingham-Hoover, AL",
            "cbsa_code": "13820",
            "certification_indicator": "Certified",
            "city": "Birmingham",
            "county": "Jefferson",
            "county_code": "073",
            "date_of_last_change": "2019-02-26",
            "datum": "WGS84",
            "event_type": "No Events",
            "exceptional_data_count": 0,
            "fiftieth_percentile": 5.6,
            "first_max_datetime": "2018-06-07 06:00",
            "first_max_n_o_datetime": null,
            "first_max_nonoverlap_value": null,
            "first_max_value": 41.7,
            "fourth_max_datetime": "2018-04-05 20:00",
            "fourth_max_value": 40.4,
            "latitude": 33.553056,
            "local_site_name": "North Birmingham",
            "longitude": -86.815,
            "method": "Teledyne-API Model 200EUP or T200UP - Photolytic-Chemiluminescence",
            "metric_used": "Observed values",
            "ninetieth_percentile": 19.2,
            "ninety_eighth_percentile": 29.1,
            "ninety_fifth_percentile": 24.3,
            "ninety_ninth_percentile": 32.0,
            "null_observation_count": 958,
            "observation_count": 7802,
            "observation_percent": 89.0,
            "parameter": "Nitrogen dioxide (NO2)",
            "parameter_code": "42602",
            "poc": 1,
            "pollutant_standard": "NO2 Annual 1971",
            "primary_exceedance_count": null,
            "required_day_count": 365,
            "sample_duration": "1 HOUR",
            "second_max_datetime": "2018-05-14 06:00",
            "second_max_n_o_datetime": null,
            "second_max_nonoverlap_value": null,
            "second_max_value": 40.7,
            "secondary_exceedance_count": null,
            "seventy_fifth_percentile": 11.1,
            "site_address": "NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",
            "site_number": "0023",
            "standard_deviation": 7.272641,
            "state": "Alabama",
            "state_code": "01",
            "tenth_percentile": 1.7,
            "third_max_datetime": "2018-04-05 19:00",
            "third_max_value": 40.6,
            "units_of_measure": "Parts per billion",
            "valid_day_count": 339,
            "validity_indicator": "Y",
            "year": 2018
        },
        {
            "arithmetic_mean": 20.214454,
            "cbsa": "Birmingham-Hoover, AL",
            "cbsa_code": "13820",
            "certification_indicator": "Certified",
            "city": "Birmingham",
            "county": "Jefferson",
            "county_code": "073",
            "date_of_last_change": "2019-02-26",
            "datum": "WGS84",
            "event_type": "No Events",
            "exceptional_data_count": 0,
            "fiftieth_percentile": 19.4,
            "first_max_datetime": "2018-06-07 06:00",
            "first_max_n_o_datetime": null,
            "first_max_nonoverlap_value": null,
            "first_max_value": 41.7,
            "fourth_max_datetime": "2018-05-10 20:00",
            "fourth_max_value": 39.1,
            "latitude": 33.553056,
            "local_site_name": "North Birmingham",
            "longitude": -86.815,
            "method": "Teledyne-API Model 200EUP or T200UP - Photolytic-Chemiluminescence",
            "metric_used": "Daily Maximum 1-hour average",
            "ninetieth_percentile": 32.5,
            "ninety_eighth_percentile": 37.5,
            "ninety_fifth_percentile": 34.6,
            "ninety_ninth_percentile": 39.1,
            "null_observation_count": 958,
            "observation_count": 7802,
            "observation_percent": 89.0,
            "parameter": "Nitrogen dioxide (NO2)",
            "parameter_code": "42602",
            "poc": 1,
            "pollutant_standard": "NO2 1-hour",
            "primary_exceedance_count": 0,
            "required_day_count": 365,
            "sample_duration": "1 HOUR",
            "second_max_datetime": "2018-05-14 06:00",
            "second_max_n_o_datetime": null,
            "second_max_nonoverlap_value": null,
            "second_max_value": 40.7,
            "secondary_exceedance_count": null,
            "seventy_fifth_percentile": 26.2,
            "site_address": "NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",
            "site_number": "0023",
            "standard_deviation": 8.526089,
            "state": "Alabama",
            "state_code": "01",
            "tenth_percentile": 9.0,
            "third_max_datetime": "2018-04-05 19:00",
            "third_max_value": 40.6,
            "units_of_measure": "Parts per billion",
            "valid_day_count": 339,
            "validity_indicator": "Y",
            "year": 2018
        },
        {
            "arithmetic_mean": 11.09079,
            "cbsa": "Birmingham-Hoover, AL",
            "cbsa_code": "13820",
            "certification_indicator": "Certified",
            "city": "Birmingham",
            "county": "Jefferson",
            "county_code": "073",
            "date_of_last_change": "2019-02-26",
            "datum": "WGS84",
            "event_type": "No Events",
            "exceptional_data_count": 0,
            "fiftieth_percentile": 8.7,
            "first_max_datetime": "2018-01-15 21:00",
            "first_max_n_o_datetime": null,
            "first_max_nonoverlap_value": null,
            "first_max_value": 49.8,
            "fourth_max_datetime": "2018-10-05 19:00",
            "fourth_max_value": 45.8,
            "latitude": 33.521427,
            "local_site_name": "Arkadelphia/Near Road",
            "longitude": -86.844112,
            "method": "Teledyne-API Model 200EUP or T200UP - Photolytic-Chemiluminescence",
            "metric_used": "Observed values",
            "ninetieth_percentile": 23.4,
            "ninety_eighth_percentile": 35.1,
            "ninety_fifth_percentile": 29.2,
            "ninety_ninth_percentile": 37.9,
            "null_observation_count": 736,
            "observation_count": 8024,
            "observation_percent": 92.0,
            "parameter": "Nitrogen dioxide (NO2)",
            "parameter_code": "42602",
            "poc": 1,
            "pollutant_standard": "NO2 Annual 1971",
            "primary_exceedance_count": null,
            "required_day_count": 365,
            "sample_duration": "1 HOUR",
            "second_max_datetime": "2018-01-19 08:00",
            "second_max_n_o_datetime": null,
            "second_max_nonoverlap_value": null,
            "second_max_value": 47.0,
            "secondary_exceedance_count": null,
            "seventy_fifth_percentile": 14.7,
            "site_address": "1110 5th Street West Birmingham, AL 35204",
            "site_number": "2059",
            "standard_deviation": 8.388367,
            "state": "Alabama",
            "state_code": "01",
            "tenth_percentile": 2.9,
            "third_max_datetime": "2018-10-04 20:00",
            "third_max_value": 46.8,
            "units_of_measure": "Parts per billion",
            "valid_day_count": 354,
            "validity_indicator": "Y",
            "year": 2018
        },
        {
            "arithmetic_mean": 23.718644,
            "cbsa": "Birmingham-Hoover, AL",
            "cbsa_code": "13820",
            "certification_indicator": "Certified",
            "city": "Birmingham",
            "county": "Jefferson",
            "county_code": "073",
            "date_of_last_change": "2019-02-26",
            "datum": "WGS84",
            "event_type": "No Events",
            "exceptional_data_count": 0,
            "fiftieth_percentile": 22.7,
            "first_max_datetime": "2018-01-15 21:00",
            "first_max_n_o_datetime": null,
            "first_max_nonoverlap_value": null,
            "first_max_value": 49.8,
            "fourth_max_datetime": "2018-10-05 19:00",
            "fourth_max_value": 45.8,
            "latitude": 33.521427,
            "local_site_name": "Arkadelphia/Near Road",
            "longitude": -86.844112,
            "method": "Teledyne-API Model 200EUP or T200UP - Photolytic-Chemiluminescence",
            "metric_used": "Daily Maximum 1-hour average",
            "ninetieth_percentile": 37.6,
            "ninety_eighth_percentile": 44.8,
            "ninety_fifth_percentile": 40.8,
            "ninety_ninth_percentile": 45.8,
            "null_observation_count": 736,
            "observation_count": 8024,
            "observation_percent": 92.0,
            "parameter": "Nitrogen dioxide (NO2)",
            "parameter_code": "42602",
            "poc": 1,
            "pollutant_standard": "NO2 1-hour",
            "primary_exceedance_count": 0,
            "required_day_count": 365,
            "sample_duration": "1 HOUR",
            "second_max_datetime": "2018-01-19 08:00",
            "second_max_n_o_datetime": null,
            "second_max_nonoverlap_value": null,
            "second_max_value": 47.0,
            "secondary_exceedance_count": null,
            "seventy_fifth_percentile": 30.3,
            "site_address": "1110 5th Street West Birmingham, AL 35204",
            "site_number": "2059",
            "standard_deviation": 9.536537,
            "state": "Alabama",
            "state_code": "01",
            "tenth_percentile": 12.1,
            "third_max_datetime": "2018-10-04 20:00",
            "third_max_value": 46.8,
            "units_of_measure": "Parts per billion",
            "valid_day_count": 354,
            "validity_indicator": "Y",
            "year": 2018
        }
    ],
    "Header": [
        {
            "request_time": "2020-04-27T20:25:14-04:00",
            "rows": 4,
            "status": "Success",
            "url": "https://aqs.epa.gov/data/api/annualData/byState?email=lilu216@hotmail.com&key=baygoose48&param=42602&bdate=20180101&edate=20181231&state=01"
        }
    ]
}

In [7]:
#could compare levels of NO2 across states. compare max dates for when the most pollution is. 
state_query_url = "https://aqs.epa.gov/data/api/annualData/byState?email=lilu216@hotmail.com&key=baygoose48&param=42602&bdate=20170101&edate=20171231&state="

#need to pick the variables we want the measurements for and create a list for each to add to with a for loop.

states = []
mean = []
max_value = []
max_date =[]
std_dev = []
prm_exceed = []


state_code = ["01", "02", "04", "05", "06", "08", "09", "10", "11", "12", "13", "15", "16", "17", "18", "19", "20", "21", "22", 
              "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34", "35", "36", "37", "38", "39", "40", "41",
              "42", "44", "45", "46", "47", "48", "49", "50", "51", "53", "54", "55", "56", "66", "72", "78"]


for code in state_code:
    response = requests.get(state_query_url + code).json()
    try:
        states.extend([x['state'] for x in response['Data']])
        mean.extend([x['arithmetic_mean'] for x in response['Data']])
        max_value.extend([x['first_max_value'] for x in response['Data']])
        max_date.extend([x['first_max_datetime'] for x in response['Data']])
        std_dev.extend([x['standard_deviation'] for x in response['Data']])
        prm_exceed.extend([x['primary_exceedance_count'] for x in response['Data']])
    except: 
        print("This state has no data", code)

In [8]:
#create a data frame with info from your lists to combine into one dictionary
no2_dict = {
    "state": states,
    "average": mean,
    "standard deviation": std_dev,
    "highest value in 2017": max_value,
    "date of highest value": max_date,
    "primary exceedence": prm_exceed,
}

#print(no2_dict)

no_2_df = pd.DataFrame(no2_dict)
no_2_df.head()

,state,average,standard deviation,highest value in 2017,date of highest value,primary exceedence
0,Alabama,8.974158,7.739944,40.8,2017-01-31 18:00,NaN
1,Alabama,20.712610,8.622241,40.8,2017-01-31 18:00,0.0
2,Alabama,11.458696,8.414054,50.8,2017-10-20 17:00,NaN
3,Alabama,23.389298,9.298161,50.8,2017-10-20 17:00,0.0
4,Alaska,12.569094,12.294333,65.7,2017-01-24 14:00,NaN

In [14]:
merge_df = pd.merge(final_health_data,no_2_df, on="state")
merge_df.head()

C:\ProgramData\Anaconda3\envs\PythinData\lib\site-packages\pandas\core\reshape\merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

,state,"(Question, )","(state, )","(Data_Value, mean)","(Data_Value, median)","(Data_Value, var)","(Data_Value, std)","(Data_Value, sem)",average,standard deviation,highest value in 2017,date of highest value,primary exceedence
0,Alabama,Percent of adults aged 18 years and older who ...,Alabama,33.792,33.3,13.667433,3.696949,0.73939,8.974158,7.739944,40.8,2017-01-31 18:00,NaN
1,Alabama,Percent of adults aged 18 years and older who ...,Alabama,33.792,33.3,13.667433,3.696949,0.73939,20.712610,8.622241,40.8,2017-01-31 18:00,0.0
2,Alabama,Percent of adults aged 18 years and older who ...,Alabama,33.792,33.3,13.667433,3.696949,0.73939,11.458696,8.414054,50.8,2017-10-20 17:00,NaN
3,Alabama,Percent of adults aged 18 years and older who ...,Alabama,33.792,33.3,13.667433,3.696949,0.73939,23.389298,9.298161,50.8,2017-10-20 17:00,0.0
4,Alabama,Percent of adults aged 18 years and older who ...,Alabama,37.176,37.1,33.045233,5.748498,1.14970,8.974158,7.739944,40.8,2017-01-31 18:00,NaN

In [12]:
# convert data to csv 

merge_df.to_csv("Health_data.csv")

In [16]:
# merge_df.columns()

# rename columns 

# merge_df = merge_df.rename(columns={"LocationDesc": "state"})